header{
    background-image: url(abc.png);
    background-size: 1650px;
    background-repeat: no-repeat;
    background-position-y: 10px;
}
body{
    background-image: url(mavi3.jpg);
    background-size: 1980px;
    /* background-repeat: no-repeat; */
}
li,a{
    list-style-type: none;
    text-decoration: none;
    float: left;
    margin-right: 100px;
    margin-top: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26px;
    color: rgb(255, 222, 160);
}
ul{
    margin-left: 200px;
}
ol{
    margin-left: 610px;

}
a:hover{
    background-color: cornsilk;
    color: rgb(210, 51, 30);
}
a:visited{
    color: rgb(255, 152, 68);
}
a:active{
    color: rgb(0, 102, 133);
}
main{
    position: relative;
    animation-name: experience;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
@keyframes experience{
    0% {opacity: 0;}
    100% {opacity: 100;}
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14;
    color:blueviolet;
    margin-left: 10px;
    text-align: center;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12;
    text-align: center;
}