img{
    width: 300px;
border-radius: 80%
;
}
h1{
    color: blueviolet; text-align: center;
background-color: rgb(226, 248, 147, 0.5);
/* display: inline-block ; text-align: center; */
background-origin: inherit;
font-family: monospace;
font-size: 40px;
}
.container{
    background-color: rgb(116, 186, 252, 0.5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
.ilk{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
}
h2{
    font-family: monospace;
}
body{
    background-image: url("bgg.jpg");
    background-repeat:repeat-x;
    background-size: 450px;
}
li,a{
    list-style-type: none;
    text-decoration: none;
    float: left;
    margin-right: 50px;
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:hover{
    background-color: cornsilk;
    color: chocolate;
}
a:visited{
    color: rgb(0, 139, 19);
}
a:active{
    color: darksalmon;
}
